.movies-base {
    background: #525252;
    width: 1400px;
    height: 956px;
}

.categories-align { 
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 123px;
}

.cards-align {
    width: 1400px;
    margin-top: 40px;;
    margin-left: -15px;
}