.navbar {
    background-color: #FFC700;
    width: 1400px;
    height: 68px;
}

.text-navbar{
    margin-left: 49px;
}

.nav-logo-text{
    text-decoration: none;
    color:black;
    font-size: 700;
    font-weight: bold;
    font-size: 24px;
}

.nav-logo-text:hover{
    color:#525252;
}

.logout{
    margin-right: 140px;
}

.retangle{
    margin-right: 50px;
}

.nav-logout-text{
    text-decoration: none;
    color:black;
    font-size: 700;
    font-weight: bold;
    font-size: 14px;
}

.nav-logout-text:hover{
    color:#525252;
}