.card-base{
    width: 258px;   
    height: 310px;
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin: 0px 15px 15px 15px;
}

.movie-card-image{
    width: 258px;
    height: 165px;
    margin-top: 25px;
    background: black;
}

.movie-info{
    margin: 15px;
}

.movie-card-title{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: -0.015em;
    font-weight: bold;
    color: #FFFFFF;
}

.movie-card-year{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -0.015em;
    font-weight: normal;
    color: #FFC700;
}

.movie-card-subtitle{
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}